POSTGRES_USER_GOLD=your-user
POSTGRES_PASSWORD_GOLD=your-password
POSTGRES_HOST_GOLD=your-host
POSTGRES_PORT_GOLD=5432
POSTGRES_DB_GOLD=bia-gold
PGSSLMODE=require

# Optional override
MATERIALIZED_VIEW_NAME=retention.mixpanel_events
